---

---

<footer
  class="font-sans-thin fixed right-0 bottom-0 flex gap-3 p-2 text-xl tracking-tight text-white">
  <p>marvin deutz</p>
  <p>-</p>
  <p>berlin, 2025</p>
  <p>-</p>
  <a href="mailto:marvin@deu.tz">
    <p>marvin <span class="text-highlight">@</span> deu.tz</p>
  </a>
</footer>
