---

---

<nav class="flex justify-between px-6">
  <a
    href="/about"
    class="hover:text-highlight grid self-baseline-last text-3xl">
    About
  </a>
  <a href="/">
    <h1 class="text-foreground text-center text-8xl">
      <span class="font-display outline-highlight-text">deu.tz</span>
      <span class="tracking-tighter">- LABS</span>
    </h1>
  </a>
  <a
    href="https://deu.tz"
    class="hover:text-highlight grid self-baseline-last text-3xl">Exit</a
  >
</nav>
