---
import Footer from "../layouts/Footer.astro"
import Skeleton from "../layouts/Skeleton.astro"
---

<Skeleton>
  <h1 class="text-foreground text-center text-7xl">
    <span class="font-display outline-highlight-text">deu.tz</span>
    <span class="font-sans-bold tracking-tighter">- LABS</span>
  </h1>
  <Footer />
</Skeleton>
